body {
    font-family: "Poppins", Arial, sans-serif;
    background: rgba(135deg, #1f1c2c, #928dab); 
    color: #fc09d3;
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 30px auto;
    padding: 20px;
    width: 340px;
    /* border: none;
    border-radius: 14px;  */
     background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    backdrop-filter: blur(6px);
}

legend {
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    padding: 0 10px;
}

button {
    background: linear-gradient(135deg, #42a5f5, #478ed1);
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #ff6161;
    margin-top: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(66, 245, 191, 0.4);
}

input, select {
    border: 1px solid #9c8a8a;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 6px 0;
    width: 95%;
    background: #fff;
    color: #333;
}

#container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#layer {
    position: relative;
    width: 500px;
    height: 500px;
    /* border: 2px solid rgba(255,255,255,0.2);
    border-radius: 20px; */
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
}

.square {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
 opacity: 0.85;
}

โทน neon
.maroon {
    background: #ff4d6d;
}
.lightgreen {
    background: #4dff91;
}
.magenta {
    background: #c04dff;
} 
